<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finance.com.fp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".CusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplishActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CardActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.LoanActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.ImportActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.Set_Activity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.FeedbackActivity" android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.IDActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.PlannerActivity" />
        <activity
            android:name=".ui.Card_StrategyActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.FriendActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.Loan_Strategy_Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.Loan_Search_Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.HomeSonActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.IDSonActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ShowDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.NoticeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.TradeAnalysisActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ImportDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.LoanConditionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.ShowProActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.GuideActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ab92d8aed17920a1001627" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="866c0d09bc419f7324bc5025ad4f513c" />
        <!--   <meta-data
               android:name="UMENG_CHANNEL"
               android:value="${UMENG_CHANNEL_VALUE}" />-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!--<meta-data
          android:name="UMENG_CHANNEL"
          android:value="wandoujia" />-->


        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="b038c087da" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="2.4.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
    </application>

</manifest>